#noEntryzone{
    font-family:'Montserrat';
    font-weight:600;
} 
 
 
h1{
    font-family: 'Montserrat';
    font-size:4rem;
    font-weight:900;
   
    line-height: 1.3;
}

 
 
 
 
 
 
 /* title  and 
  navbar */
#title{
    background-color:#ff4c68;
    color: whitesmoke;
}
.tile{
    padding: 3% 15% 3% 15%;
}

        /* Nav bar Section */


.navbar {                             
    padding:0 0 4.5rem;           /*  for space between navbar and heading */    
}


.navbar-brand{
    font-family: Ubuntu;
    font-size:2.5rem;
    font-weight: bold;

}
.nav-item{
    padding:0 18px; /* space between  nav item */
} 
.nav-link{
    font-size:1rem;
}


/* for card  */
.T{
    opacity: 0.8;
    border-radius:15% ;
    transition: all 2s;
}

.T:hover{
 box-shadow:-10px 15px  20px rgb(54, 51, 51);
}
.card-header{
    border-radius:15% ;
}

.CHTxt{
    font-family: 'Montserrat';
    font-size:3.2rem;
    color:black;
    font-weight:600;
    letter-spacing:4px;
}
.CBTxt{
    font-family: 'Montserrat';
    font-size:3.2rem;
    color:black;
    font-weight:600;
    letter-spacing:4px;
    
}
.CFTxt{
    font-family: 'Montserrat';
    font-size:3.2rem;
    color:rgb(114, 175, 22);
    font-weight:600;
    letter-spacing:4px;
    
}
.pCard{
    
    color:black;
}


        /* Downlod Button */

.donload-button{
    margin:5% 3% 5% 0%
}






/* currentTime */
.rt{
    margin:30px;

}












             /* group  */

            /* crousel corona */

            .CI img {
                width: 100%;
                height: 75%;
              }


#group{ margin: 0; padding: 0; box-sizing: border-box; }


/* .nav_style{

                background-color: #a29bfe!important;

            }

.nav_style a{ color: white; } */

/*//////////////// main header \\\\\\\\\\\\\\*/

.main_header{

    height: 450px;
    width: 100%;
}

.rightside h1{

    font-size: 3rem;
}

.corona_rotate img{

    animation: gocorona 2s linear infinite;
}

@keyframes gocorona{

    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}


.leftside img{ animation: heartbeat 5s linear infinite ; }

@keyframes heartbeat
{

    0%{ transform: scale( .75 ); }
    20%{ transform: scale( 1 ); }
    40%{ transform: scale( .75 ); }
    60%{ transform: scale( 1 ); }
    80%{ transform: scale( .75 ); }
    100%{ transform: scale( .75 ); }
}

/*******************corona updates*******************/

.corona_update{
    margin: 0 0 30px 0;
    
}

.corona_update h3{ color: #ff7675;}

.corona_update h1{ font-size: 2rem; text-align:center; }

/*///////////////////About///////////////////////*/

.sub_section{ background-color: #fbfafd;}

.footer_style{ background-color: #a29bfe!important; }


